.thumbnail-container {
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  overflow-x: scroll;
  background-color: black;
  box-shadow: 5px 5px 5px 5px black;
}

/* @media make max-width bigger */
