.thumbnail-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  position: absolute;
  /* margin-top: 3%; */
  overflow-x: scroll;
  background-color: rgba(44, 44, 44, 0.158);
  border: 2px solid rgba(44, 44, 44, 0.158);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.thumbnail-container::-webkit-scrollbar {
  height: 10px;
}
.thumbnail-container::-webkit-scrollbar-track {
  background: #00000000;
}
.thumbnail-container::-webkit-scrollbar-thumb {
  background: #30303080;
}
.thumbnail-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@media (max-width: 600px) {
  .thumbnail-container {
    width: 90%;
    opacity: 1;
    top: auto;
    bottom: 20px;
  }
}
